<ion-view view-title="Peña Manager - Info">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap text-center">
				<img class="margin-bottom10" src="images/lebande.png">
				<p class="margin-bottom10">Peña Manager es un producto creado por Consultora Integral Lê Bandè.</p>
				<p class="margin-bottom10">
					<a href="#" onclick="window.open('http://www.consultoralebande.com/', '_system', 'location=no'); return false;">
						www.ConsultoraLeBande.com
					</a>
				</p>
				<p class="margin-bottom10">Versión 0.2</p>
			</div>
		</div>
	</ion-content>
</ion-view>
